.f_Yanone {
	font-family: "Yanone Kaffeesatz";
}

.f_Open {
	font-family: "Open Sans Condensed";
}

i.fi-play {
	color: #2980b9;
}

.top-bar .name h1 a {
	font-family: "Yanone Kaffeesatz";
	font-size: 1rem;
	text-transform: uppercase;
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar.expanded .title-area, .top-bar-section .has-form 	{
	background: none repeat scroll 0% 0% #e74c3c;
	font-family: "Open Sans Condensed";
	font-size: 0.85rem;
	text-transform: uppercase;
	font-weight: bold;
}

.top-bar-section li:not(.has-form) a:hover:not(.button){
	background: none repeat scroll 0% 0% #c0392b;	
}

.orbit-container.orbit-container .orbit-slides-container {
	max-height: 400px;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
	bottom: 50%;
	max-width: 50%;
	background: none repeat scroll 0% 0% rgba(231, 76, 60,0.8);
	text-align: justify;
}

.embed-container iframe, .embed-container object, .embed-container embed { 
	max-width: 100%; 
	min-height: 250px;
}

#principal {
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.bordeArriba {
	border-top: 1px solid #c0392b;
}

a.button {
	background-color: #e74c3c;
}

a.button:hover {
	background-color: #c0392b;
}

.text-white {
	color: white;
}

.text-red {
	color: #e74c3c;
}